/* For mobile phones: */
[class*="col-"] {
    width: 100% !important;
  }
  
  @viewport {
    width: device-width ;
    zoom: 1.0 ;
  }
  
  @-ms-viewport {
    width: device-width ;
  }
  
  /* code that is here, until the first @media block, will apply to any screen size */
  #somethingorother {
    width: 800px ;
  }
  
  @media screen and (max-width: 320px) {
    /* comes into effect for screens less than or equal to 320 pixels */
    #somethingorother {
      width: 120px ;
    }
  }
  @media screen and (min-width: 321px) and (max-width: 480px) {
    /* comes into effect for screens between 321 and 480 pixels (inclusive) */
    #somethingorother {
      width: 320px ;
    }
  }
  @media screen and (min-width: 481px) {
    /* comes into effect for screens larger than or equal to 481 pixels */
    #somethingorother {
      width: 480px ;
    }
  }
  
  .parallax {
      background-position: center center;
      background-size: cover;
      background-repeat: no-repeat;
      background-attachment: fixed;
  }
  
  .containerSpacing {
      padding: 5rem 0 2rem 0;
  }
  
  h1 {
      font-family: 'Lobster', cursive;
  }
  
  body {
      font-family: 'Open Sans', sans-serif;
      font-size: 2vw;
  }
  
  .profile-image {
    display: block;
    margin: 0 auto;
    border-radius: 100%;
    width: 200px;
  }
  
  .progress {
    background-color: #F8BBD0;
    margin-left: 5%;
    margin-right: 5%;
  }
  
  .toppage {
    text-align: center;
    text-decoration: none;
    color: black;
    margin-top: 5%;
  }
  
  .footer {
    position: static;
    background-color: #F8BBD0;
    text-align: center;
    width: 100%;
    margin-top: 0%;
  }
  
  .typewriter {
    color: #fff;
    font-family: monospace;
    font-size: 2vw;
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .15em solid orange; /* The typwriter cursor */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .15em; /* Adjust as needed */
    animation: 
      typing 3.5s steps(30, end),
      blink-caret .5s step-end infinite;
  }
  
  /* The typing effect */
  @keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }
  
  /* The typewriter cursor effect */
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: orange }
  }